# GitHub Configuration
GITHUB_USERNAME=Maxou2003
GITHUB_TOKEN=your_github_token_here

# Email Configuration (Resend)
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=onboarding@resend.dev
CONTACT_EMAIL=your_email@example.com

